<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta Bloqueada</title>
</head>
<body>
    <table width="600" style="border: 1px solid">
        <tbody>
            <tr>
                <th style="border: 1px solid">Título</th>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <td>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare odio id est elementum mattis. Curabitur eu nisi eget mi tristique semper. Sed pretium facilisis eros eget elementum. Ut lobortis velit consequat metus sagittis pretium. Duis ac varius urna. Donec non molestie velit, et pulvinar dui. Praesent ullamcorper cursus porttitor. Etiam eget elit vitae mi euismod suscipit. Donec rutrum, diam ut dictum dignissim, metus nisi dapibus ante, sit amet interdum est leo in odio. Sed vel massa sed risus mollis efficitur vitae a mi. Nulla facilisi. Morbi eu blandit augue. Sed porttitor eleifend ornare. Integer dapibus at mauris a tempus.
                    </p>

                    <p>
                        Donec neque odio, consequat ac erat ac, efficitur rhoncus diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla porta fermentum consequat. In aliquet elit at neque efficitur lacinia. In finibus diam et nunc volutpat laoreet. In luctus porttitor diam id pharetra. Sed sed lectus ligula. Pellentesque sagittis nibh nec vehicula viverra. Sed hendrerit ullamcorper ex et pellentesque. Suspendisse egestas vel tortor cursus congue. 
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>